<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            groWocery - save money and time on groceries
            {% endblock %}
        </title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        {% block style %}
        {% endblock style %}
        <script src="{% static 'script/app.js' %}"></script>   
        {% block script %}
        {% endblock script%}
    </head>
    <body>
        <div class='top-bar'>
            {% block top-bar %}
            <div class='row'>
                <div class='logo-long'>
                    <img src="{% static 'growocery/images/logo-long.png' %}" alt="Growocery Logo">
                </div>
                <div class='title'>
                    <h2>
                        {% block top-bar-title %}
                        {% endblock top-bar-title %}
                    </h2>
                </div>
                <div class='nav-bar'>
                    <nav>
                        <ul class='row'>
                            <li><a href="">Profile</a></li>
                            <li><a href="/growocery/logout">Logout</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            {% endblock top-bar %}
        </div>
        {% block main-content %}
        {% endblock main-content %}
    </body>
</html>
