body {
    background-color: #F8F8F8;
}

a {
    color: #491C1D;
}

a:hover {
    color: #FF8321;
}

table a {
    color: #491C1D;
    font-size: 20px;
}

table a:hover {
    color: red;
    font-size: 20px;
}

table {
    margin: 0;
    padding: 0;
    border: 0; 
    border-spacing: 0px;
    border-collapse: collapse;
}

th {
    font-weight: 700;
    padding-bottom: 15px;
    padding-right: 15px;
}

td {
    padding-bottom: 15px;
    padding-right: 10px;
}

button {
    width: 100%;
    box-shadow: none;
}

.content-card {
    width: auto;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 30px;
    border-radius: 30px;
    display: flex;
}

.my-cart {
    width: 30%;
    background-color: #F8F8F8;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    min-height: 70vh;
}

.title {
    margin-bottom: 30px;
}

.main-area {
    width: 70%;
    padding-left: 40px;
    padding-right: 30px;
}

.main-area-nav {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
}

.main-area-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.main-area-nav li {
    margin: 0;
    margin-right: 60px;
    list-style-type: none;
}

.main-area-nav a {
    font-size: 16px;
    font-weight: 700;
    color: #491C1D;
}

.main-area-nav a:hover {
    text-decoration: underline;
}

.details-container {
    padding: 25px;
    margin-top: 30px;
    border-radius: 15px;
}

#status {
    background-color: #FFEFEE;
}

#buyer {
    background-color: #FFF1E6;
}

#pickup {
    background-color: #FFF9E2
}

#buyer button {
    background-color: #FFC9B2;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 0;
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}

#buyer button:hover {
    cursor: pointer;
    background-color: #FE9B71;
}

input[type=submit]:hover {
    background-color: #FE9B71;
    cursor: pointer;
}

#status-title {
    margin-bottom: 15px;
}

#progress-bg {
    background-color: #FFFAFA;
    margin-bottom: 15px;
}

#progress {
    height:24px;
    background-color:#6FCF97;
}

.catalogue-container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    overflow: scroll;
    max-height: 100vh;
}

.catalogue-item {
    display: inline-grid;
    border-radius: 15px;
    padding: 20px
}

.catalogue-item h3 {
    margin-top: 15px;
    margin-bottom: 10px
}

.catalogue-item button {
    width: 100%;
    box-shadow: none;
}

.catalogue-item img {
    height: 150px;
}

.catalogue-item div {
    margin-top: 5px;
}

.col-1 {
    background-color: #FFF1E6;
}

.col-2 {
    background-color: #FFF9E2;
}

.col-3 {
    background-color: #F2FBE4;
}

.col-4 {
    background-color: #FFEFEE;
}

.col-1 button {
    background-color: #FFC9B2;
}
.col-1 button:hover {
    background-color: #FE9B71;
}
.col-2 button {
    background-color: #FFE687;
}
.col-2 button:hover {
    background-color: #FFD533;
}
.col-3 button {
    background-color: #B9D192;
}
.col-3 button:hover {
    background-color: #A8DD53;
}
.col-4 button {
    background-color: #FFACA7;
}
.col-4 button:hover {
    background-color: #FF7D75;
}

.search input[type=text] {
    width: 97%;
}

table {
    width: 100%;
}

.bold-body.list-title {
    margin-bottom: 35px;
}

.cart-disclaimer {
    margin-bottom: 20px;
    margin-top: 20px;
}

.overlay-modal {
    background-color: white;
    width: 40%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 15px;
    margin-top: 5%;
}

.overlay-modal button {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
}

.modal-text {
    margin-bottom: 25px;
}

.overlay-modal.row {
    margin-top: 30px;
    margin-bottom: none;
}

.cancel-button {
    font-size: 25px;
    text-align: right;
}

.cancel-button:hover {
    color: red;
    cursor: pointer;
}

#savings-card {
    background-color: #F2FBE4;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

#savings-card div.bold-body {
    margin-bottom: 15px;
}