body {
    background-color: #F8F8F8;
}

.content-card {
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 45px;
    border-radius: 30px;
}

.postcode-title {
    display: flex;
}

#view-members-link {
    height: auto;
    display: flex;
}

#view-members-link a {
    align-self: flex-end;
    margin-bottom: 10px;
    margin-left: 25px;
    color: #491C1D;
    text-decoration: none;
}
#view-members-link a:hover {
    text-decoration: underline;
    color: #FF8321;
}
#grocery-groups {
    display: grid;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    grid-template-columns: 49% 49%;
    margin-top: 15px;
}
.container {
    display: inline-grid;
    background-color: #FFF1E6;
    border-radius: 15px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 25px;
}
.image-container {
    width: 100%;
    background-color: red;
    justify-content: center;
}
img.group-image {
    height: 200px;
}