{% extends "base.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/auth.css' %}">
{% endblock %}}

{% block top-bar %}
{% endblock top-bar %}

{% block main-content %}
<div class='content-card'>
    <div class='center'>
        <img src="{% static 'growocery/images/logo-square.png' %}" alt="Growocery logo" class='logo-long'>
        <h3>
            {% block form-title %}
            {% endblock %}
        </h3>
    </div>
    {% block form %}
    {% endblock %}
</div>
{% endblock %}