{% extends "growocery/group.html" %}

{% load static %}
{% load mathfilters %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/group.css' %}">
{% endblock style %}

{% block right-content %}

<div class='order-confirmation'>
    <div class="bold-body">Confirmed Order</div>
    <br>
    <table>
        <tr>
            <th>Item</th>
            <th>Unit Price</th>
            <th>Qty</th>
            <th>Price</th>
        </tr>
        {% for price in myorder.prices.all %}
        <tr>
            <td>{{price.item.name}}</td>
            <td>{{price.price | div:price.quantity|floatformat:2 }}</td>
            <td>{{price.quantity}}</td>
            <td>{{price.price}}</td>
        </tr>
        {% endfor %}
        <!-- <tr>
            <td>Total Delivery</td>
            <td>
                {% if bestOption %}
                {{bestOption.fee}}
                {% else %}
                0.00
                {% endif %}
            </td>
            <td>1</td> 
        </tr> -->
        <tr>
            <td>Delivery</td>
            <td>
                {% if bestOption %}
                {{bestOption.fee}}
                {% else %}
                0.00
                {% endif %}
            </td>
            <td>{{1|div:group.cart.groupOrders.count}}</td>
            <td>
                {% if bestOption %} 
                {{bestOption.fee|div:group.cart.groupOrders.count}}
                {% else %}
                0.00
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Original Total</th>
            <td></td>
            <td></td>
            <th>
                {% if bestOption %} 
                {{og_total}}
                {% else %}
                {{og_total}}
                {% endif %}
            </th>
        </tr>
        <tr>
            <th>Total</th>
            <td></td>
            <td></td>
            <th>{{new_total}}</th>
        </tr>
    </table>
    <div id='savings-card'>
        {% with myfee=bestOption.fee|div:group.cart.groupOrders.count %}
        <div class='bold-body center'>Savings</div>
        <div class='center'>You have saved ${{savings}} with us!</div>
    </div>
</div>
{% endwith %}
{% endblock right-content %}