{% extends "growocery/group.html" %}

{% block overlay-content %}
<div class='overlay-modal center'>
  <div class='cancel-button'>
    <a  class='cancel-button' onclick='volunteerBuyerCancelCallback()'>&#10006;</a>
  </div>
  <div class='center bold-body modal-text'>Are you sure you want to volunteer as buyer?</div>
  <div class='modal-text small-text'>
    Buyers will receive all the items in the group order either via delivery or in-store pickup. Everyone in the group
    will pickup their items from a location nominated by the buyer.
  </div>

  <form action="{% url 'group_detail' group.id %}" method="post">
    {% csrf_token %}
    <label for="pickup location">Pickup Location</label>
    <input type="text" name="pickupLocation">
    <label for="pickup day">Pickup Day</label>
    <input type="date" name="pickupWhen">
    <div class='center'>
      <button type=submit name='confirm'>confirm</button>
    </div>
  </form>
</div>
{% endblock overlay-content %}

{% block right-content %}
{% if group %}

<!-- Group Status -->
<div id='status' class='details-container'>
  <div class="title bold-body" id='status-title'>Status</div>
  <div id="progress-bg">
    <div id="progress" style="{% if not group.pickup.buyer %} width:17%; {% else %} width: 34%; {% endif %}"></div>
  </div>
  <div>
    {% if not group.pickup.buyer %}
    Step 1 of 6: Buyer needed. Group Grocery List not confirmed. You may amend your list.
    {% else %}
    Step 2 of 6: Group Grocery List not confirmed. You may amend your list.
    {% endif %}
  </div>
</div>

<div id='buyer' class='details-container'>
  <div class="title bold-body">Buyer Details</div>
  <table>
    <tr>
      <td>Buyer:</td>
      <th>
        {% if not group.pickup.buyer %}
        Undecided
        {% else %}
        {{ group.pickup.buyer.customerAccount.first_name }} {{ group.pickup.buyer.customerAccount.last_name }}
        {% endif %}
      </th>
    </tr>
    <tr>
      <td>Contact:</td>
      <th>
        {% if group.pickup.buyer %}
        {{ group.pickup.buyer.phone }}
        {% endif %}
      </th>
    </tr>
  </table>
  {% if not group.pickup.buyer %}
  <button onclick="volunteerBuyerCallback()">volunteer as buyer</button>
  {% endif %}
</div>

<div id='pickup' class='details-container'>
  <div class="title bold-body">Pickup Details</div>
  <table>
    <tr>
      <td>Retail Grocer:</td>
      <th>{{ group.store.name }} </th>
    </tr>
    <tr>
      <td>Weekly Deadline:</td>
      <th>{{ group.nextDeadline }}</th>
    </tr>
    <tr>
      <td>Pickup Location:</td>
      <th>
        {% if group.pickup.buyer %}
        {{ group.pickup.locationDetails }}
        {% else %}
        TBA
        {% endif %}
      </th>
    </tr>
    <tr>
      <td>Pickup Day:</td>
      <th>
        {% if group.pickup.buyer %}
        {{ group.pickup.pickupWhen }}
        {% else %}
        TBA
        {% endif %}
      </th>
    </tr>
  </table>
</div>
{% endif %}
{% endblock right-content %}