{% extends "growocery/group.html" %}

{% block right-content %}

{% load static %}
<div class='search'>
  <label for="search-text">item search</label>
  <input type="text">
</div>

{% if prices %}
<div class='catalogue-container'>

  {% for price in prices %}
  <div class="catalogue-item {% cycle 'col-1' 'col-2' 'col-3' 'col-4' %}">
    <img src="{% static 'growocery/' %}{{price.item.img}}"    alt="{{ price.item.name }}">
    <div>{{ price.item.name }}</div>
    <div class='small-text'>Added to shared list. Bulk buy option may be available.</div>
    <h3>${{price.price}}</h3>
    <div class='center'>
      <a href= "/growocery/add/{{price.id}}/{{group.id}}/{{myorder.id}}">
        <button id="add1">Add to cart</button>
      </a>
    </div>
    
  </div>
  {% endfor %}

</div>
{% endif %}

{% endblock right-content %}