{% extends "growocery/group.html" %}

{% block right-content %}
{% if group %}

<!-- Group Status -->
<div id='status' class='details-container'>
  <div class="title bold-body" id='status-title'>Status</div>
  <div id="progress-bg">
    <div id="progress" style="{% if not group.pickup.buyer %} width:17%; {% else %} width: 34%; {% endif %}"></div>
  </div>
  <div>
    {% if not group.pickup.buyer %}
    Step 1 of 6: Buyer needed. Group Grocery List not confirmed. You may ammend your list.
    {% else %}
    Step 2 of 6: Group Grocery List not confirmed. You may ammend your list.
    {% endif %}
  </div>
</div>

<div id='buyer' class='details-container'>
  <div class="title bold-body">Buyer Details</div>
  <table>
    <tr>
      <td>Buyer:</td>
      <th>
        {% if not group.pickup.buyer %}
        Undecided
        {% else %}
        {{ group.pickup.buyer.customerAccount.first_name }} {{ group.pickup.buyer.customerAccount.last_name }}
        {% endif %}
      </th>
    </tr>
    <tr>
      <td>Contact:</td>
      <th>
        {% if group.pickup.buyer %}
        {{ group.pickup.buyer.phone }}
        {% endif %}
      </th>
    </tr>
  </table>
  {% if not group.pickup.buyer %}
  <form action="{% url 'group_detail' group.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Volunteer as buyer">
  </form>
  {% endif %}
</div>

<div id='pickup' class='details-container'>
  <div class="title bold-body">Pickup Details</div>
  <table>
    <tr>
      <td>Retail Grocer:</td>
      <th>{{ group.store.name }} </th>
    </tr>
    <tr>
      <td>Weekly Deadline:</td>
      <th>{{ group.nextDeadline }}</th>
    </tr>
    <tr>
      <td>Pickup Location:</td>
      <th>
        {% if group.pickup.buyer %}
        {{ group.pickup.locationDetails }}
        {% else %}
        TBA
        {% endif %}
      </th>
    </tr>
    <tr>
      <td>Pickup Day:</td>
      <th>
        {% if group.pickup.buyer %}
        {{ group.pickup.pickupWhen }}
        {% else %}
        TBA
        {% endif %}
      </th>
    </tr>
  </table>
</div>
{% endif %}
{% endblock right-content %}