{% extends "base.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/postcode.css' %}">
{% endblock style %}

{% block main-content %}

<div class='content-card'>
    <div class='postcode-title'>
        <h1>{{postcode}}</h1>
        <div id='view-members-link'>
            <a href="">view all members</a>
        </div>
    </div>

    {% if groups %}
    <div id='grocery-groups'>
        {% for group in groups %}
        <div class="container {% cycle 'col-1' 'col-2' 'col-3' 'col-4' %}">
            <!-- <h2>{{ group.id }}</h2> -->
            <div class='center'>
                <img src="{% static 'growocery/images/grocery-stock/peach.png' %}" alt="" class='group-image'>
            </div>
            <h3>{{ group.store.name }}</h3>
            <table>
                <tr>
                    <th>Retail Grocer: </th>
                    <th>{{ group.store.chain.chain }}</th>
                </tr>
                <tr>
                    <th>Weekly Deadline: </th>
                    <th>{{ group.nextDeadline }}</th>
                </tr>
                <tr>
                    <th>Community Pickup: </th>
                    <th>{{ group.pickup.locationDetails }}</th>
                </tr>
                <tr>
                    <th>Pickup Day: </th>
                    <th>{{ group.pickup.pickupWhen }}</th>
                </tr>
            </table>      
            <p class='small-text'>
                {{ group.cart.groupOrders | length }} people have contributed to this grocery list this week
            </p>
            <button onclick="location.href='/growocery/community/{{group.id}}/detail'">View List</button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock main-content %}