{% extends "base.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/postcode.css' %}">
{% endblock style %}

{% block main-content %}

<div class='content-card'>
    <div class='postcode-title'>
        <h1>{{postcode}}</h1>
        <div id='view-members-link'>
            <a href="">view all members</a>
        </div>
    </div>

    {% if groups %}
    <div id='grocery-groups'>
        {% for group in groups %}
        <div class="container">
            <h2>{{ group.store.name }}</h2>
            <h2>{{ group.id }}</h2>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</div>

{% endblock main-content %}